/dist/defer.min.js -diff -merge
/dist/defer.min.js.map -diff -merge
/dist/defer_plus.min.js -diff -merge
/dist/defer_plus.min.js.map -diff -merge
/dist/polyfill.min.js -diff -merge
/dist/polyfill.min.js.map -diff -merge
/docs/* -diff -merge
