/* Reset */
/* -------------------------------------------------------------------------- */

html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.3;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #f0f0f0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body,
section,
main {
    position: relative;
}

mark,
pre {
    font-size: inherit;
}

pre {
    padding: 1em;
    margin: 1em 0 0 0 !important;
    border-radius: 5px;
    line-height: 1.5;
}

code {
    font-size: smaller !important;
    font-family: monospace !important;
}

pre code {
    display: block;
    overflow-x: auto;
}

img,
picture,
video,
iframe {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    image-rendering: pixelated;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    vertical-align: bottom;
    user-select: none;
}

img,
picture {
    height: auto;
    display: inline-block;
}

video,
iframe {
    background-color: #000;
}

/* Main */
/* -------------------------------------------------------------------------- */

main {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    background-color: rgba(250, 250, 250, 0.8);
}

header>* {
    margin: 0.5em 0;
}

.addthis_inline_share_toolbox {
    margin: 0.5em 0;
    height: 35px;
}

section {
    margin: 2em 0;
}

.example {
    margin: 1em 0 0.5em 0;
    padding-left: 1em;
    border-left: 5px solid #bd5;
}

.helper {
    background-color: #fff;
    border-radius: 0.5em;
    margin: 1em 0;
    padding: 0.5em 1em;
    line-height: 1.5;
}

.demo {
    position: relative;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
    margin-top: 0.5em;
    padding: 1em;
}

.helper::before,
.demo::before,
pre::before {
    content: "Code:";
    display: block;
    font-family: monospace;
    font-size: smaller;
    font-style: normal;
    white-space: pre;
    margin-bottom: 0.5em;
    user-select: none;
}

pre::before {
    content: "Code:";
}

section > .helper::before {
    content: "Description:";
}

.demo::before {
    content: "Example:";
}

.example .helper::before {
    content: "Use case:";
}

.image {
    margin: 0.25em;
}